html,
body,
:root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark mode styles */
:root {
  --background-color: #1f1f1f;
  --text-color: #ffffff;
}

/* Light mode styles */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #242424;
  }
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  height: 100vh;
}
div {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Scrollbar styles */

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--lightestgrey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
  margin: 0;
}