.Chat {
  @apply flex;
  @apply flex-row;
  @apply flex-1;

  .animate-bounce {
    animation-name: bounce;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(-4px);
  }
}
