.Chat {
  @apply flex;
  @apply flex-row;
  @apply flex-1;
  @apply overflow-y-auto;

  .animate-bounce {
    animation-name: bounce;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .fancy {
    --offset: 3px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

  /* Conic gradient */
  .fancy::before {
    content: '';
    background: conic-gradient(transparent 270deg, white, transparent);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    aspect-ratio: 1;
    width: 100%;
    animation: rotate 2s linear infinite;
  }

  /* Overlay */
  .fancy::after {
    content: '';
    background: inherit;
    border-radius: inherit;
    position: absolute;
    inset: var(--offset);
    height: calc(100% - 2 * var(--offset));
    width: calc(100% - 2 * var(--offset));
  }
}

@keyframes bounce {
  0%,
  60%,
  100% {
    transform: translateY(4px);
  }
  30% {
    transform: translateY(-4px);
  }
}

@keyframes rotate {
  from {
      transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
      transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
