.Message {
  @apply flex;
  @apply mx-5;

  .Message__streaming {
    --offset: 3px;
    position: relative;
    max-width: 100%;
    overflow: hidden;

    /* Conic gradient */
    &::before {
      content: '';
      background: conic-gradient(transparent 270deg, white, transparent);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      aspect-ratio: 1;
      width: 100%;
      animation: rotate 2s linear infinite;
    }

    /* Overlay */
    &::after {
      content: '';
      background: inherit;
      border-radius: inherit;
      position: absolute;
      inset: var(--offset);
      height: calc(100% - 2 * var(--offset));
      width: calc(100% - 2 * var(--offset));
    }
  }
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) scale(1.4) rotate(0turn);
  }

  to {
    transform: translate(-50%, -50%) scale(1.4) rotate(1turn);
  }
}
